.color-card {
    position: relative;
    width: 150px;
    height: 180px;
    margin: 10px;
    border-radius: 5px;

    button {
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 10px;
        right: 5px;
        padding: 3px;
        border: none;
        border-radius: 5px;
    }
}