* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

.header {
  margin-bottom: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.holder {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

.wrap {
  justify-content: center;
}

.grid-table {
  position: absolute; 
  padding: 25px;
  z-index: 1;
}

.grid-row {
  width: 750px;
  height: 50px;
  display: flex;
}

.grid-cell {
  width: 50px;
  height: 50px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}

.grid-cell:first-child {
  border-left: 1px solid #000;
}

.grid-row:last-child .grid-cell {
  border-bottom: 1px solid #000;
}

.stone-table {
  position: absolute;
  width: 800px;
  height: 800px;
}

.stone-row {
  display: flex;
}

.stone-cell {
  width: 50px;
  height: 50px;
  background: #ffc578;
}