/* Your styles goes here */
.material-icons.md-dark { 
    color: rgb(219, 123, 12);
    vertical-align: bottom;
}

.material-icons.md-dark.gray {
    color: gray;
}

li {
    list-style: none;
    /* display: flex;
    align-items: center; */
    margin-bottom: 5px;
}

li:last-child {
    margin-bottom: 0;
}

li:hover {
    cursor: pointer;
}

.material-icons {
    margin-right: 5px;
}

p {
    margin: 0;
    font-style: italic;
}